	<div class="closeFilter hidden-sm hidden-md hidden-lg"><i class="fa fa-times" aria-hidden="true"></i></div>
	<div class="sidebar_tags wow fadeInUp">
  	{% for block in section.blocks %}
		{% comment %} *** Categories ... *** {% endcomment %}
        {% if block.type == 'categories' %}
            <div class="sidebar_widget categories">            
				<div class="widget-title">{{block.settings.title}}</div>
              	<div class="widget-content">
                    <ul class="sidebar_cate">
                        {% for link in linklists[block.settings.side_categories].links %}
                        {% include 'mm-links' %}
                        {% endfor %}
                    </ul>
              	</div>
            </div>
		{% endif %}

        {% comment %} *** Filters BY ... *** {% endcomment %}
        {% if block.type == 'filter_by' %}
            <div class="sidebar_widget filterBox">            
              <div class="widget-title">{{block.settings.title}}</div>
              <div class="widget-content">
                  {% assign tags = block.settings.filter_tags | split: ',' %}
                  <ul>          	     
                    {% for filter_t in tags %}
                        {% assign tag = filter_t | strip %}
                        {% assign tag_value = tag | handleize %}
                        {% assign filtertag = forloop.index | minus:1 %}
                        {% assign filtertagid = 2 | times : filtertag %}
                        {% if collection.tags contains tag %}
                        <li>
                          <input type="checkbox" value="{{ tag_value }}" id="{{block.id}}-{{filtertagid}}" {% if current_tags contains tag %}checked{% endif %} />
                          <label for="{{block.id}}-{{filtertagid}}"><span><span></span></span>{{tag}}</label>
                        </li>
                        {% endif %}
                    {% endfor %}
                  </ul>
              </div>
            </div>
        {% endif %}
      	
      	{% comment %} *** Filters BY Color *** {% endcomment %}
        {% if block.type == 'by_color' %}
            <div class="sidebar_widget filterBox">            
              <div class="widget-title">{{block.settings.title}}</div>
              <div class="widget-content">
                  {% assign tags = block.settings.filter_tags | split: ',' %}
                  <ul class="filter-color">          	     
                    {% for filter_t in tags %}
                      {% assign tag = filter_t | strip %}
                      {% assign tag_value = tag | handleize %}
                      {% assign filtertag = forloop.index | minus:1 %}
                      {% assign filtertagid = 2 | times : filtertag %}
                      {% if collection.tags contains tag %}
                      <li>
                        <input type="checkbox" value="{{ tag_value }}"  id="{{block.id}}-{{ filtertagid }}" {% if current_tags contains tag %}checked{% endif %} />
                        <label for="{{block.id}}-{{ filtertagid }}" class="color" title="{{tag}}"><span style="background-color:{{tag_value}}; {% if settings.image_swatches %}background-size:cover; background-image:url({{ tag_value | handleize | append: '.png' | file_url | split: "?" | first }});{% endif %}"></span></label>
                      </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
            	</div>
      		</div>
        {% endif %}
      
      	{% comment %} *** Product Slider *** {% endcomment %}
        {% if block.type == 'products' %}
            <div class="sidebar_widget">
              <div class="widget-title">{{block.settings.title}}</div>
              <div class="widget-content">
                  {% if block.settings.sidebar_products != blank %}
                  <div class="sidebar-products-{{block.settings.side_prod_opt}}">
                      <div class="grid" {% if block.settings.side_prod_opt == "slider" %}id="sideProdSlider"{% endif %}>
                        {% if block.settings.side_prod_opt == "slider" %}
                        	{%- assign image_size = '250x' -%}
                        {% else %}
                        	{%- assign image_size = '100x' -%}
                        {% endif %}
                        {% for product in collections[block.settings.sidebar_products].products limit:block.settings.num_of_products %}
                        	<div class="grid__item">{% include 'product-card-grid', grid_image_width: image_size %}</div>
                        {% endfor %}
                      </div>
                      {% if block.settings.side_all_products %}
                    	<div class="text-center"><a href="{{block.settings.sidebar_products}}" class="btn">Viewl All</a></div>
                   	  {% endif %} 
                  </div>
                  {% else %}
                      <p>Please select collection from store admin > customize > Collection page > sidebar</p>
                  {% endif %} 
              </div>
      		</div>
        {% endif %}
      
      	{% comment %} *** Image Banner *** {% endcomment %}
        {% if block.type == 'image_bnr' %}
      		<div class="sidebar_widget static-banner">
              {% if block.settings.side_bnr_link != blank %}
              	<a href="{{ block.settings.side_bnr_link }}">
              {% endif %}
                  {% if block.settings.side_bnr_img != blank %}
                        {{ block.settings.side_bnr_img | img_url: '300x' | img_tag }}
                  {% else %}
                      {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
					  {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                  {% endif %}
              {% if block.settings.side_bnr_link != blank %}
              	</a>
              {% endif %}
            </div>
        {% endif %}
      	
      	{% comment %} *** Static Text Block *** {% endcomment %}
        {% if block.type == 'static_text' %}
            <div class="sidebar_widget">
              <div class="widget-title">{{block.settings.title}}</div>
              <div class="widget-content">
                  {% if block.settings.text != blank %}
                  {{ block.settings.text }}
                  {% else %}
                      <p>Please select collection from store admin > customize > Collection page > sidebar</p>
                  {% endif %} 
              </div>
      		</div>
        {% endif %}
      	
  	{% endfor %}
	</div>