	<div class="blog-right grid__item {% unless section.settings.sidebar_position == 'nosidebar' %}medium-up--three-quarters large-up--four-fifths large--three-quarters  {% endunless %}{% if section.settings.sidebar_position == 'left' %} right{% endif %}"> 

		<!-- article start -->		
		<div class="section-header"> {% if article.image %} <span class="article_featured-image"> {{ article | img_url: 'master' | img_tag: article.title }} </span> {% endif %}
			<h1 class="h3">{{ article.title }}</h1>
			<ul class="publish-detail">
			   {% if section.settings.blog_show_author %}    
                <li><i class="fa fa-user" aria-hidden="true"></i> {% capture author %}<strong>{{ article.author }}</strong>{% endcapture %} {{ article.author }}</li>
              {% endif %}
              
              {% if section.settings.blog_show_date %} 
				<li> <i class="fa fa-clock-o" aria-hidden="true"></i> {% capture date %}
					<time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time>
					{% endcapture %}
					<time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time>
				</li>
              {% endif %}
              
				<li>
					<ul class="inline-list">
						{% if blog.comments_enabled? %}
						<li><i class="fa fa-comments" aria-hidden="true"></i> <a href="{{ article.url }}#comments"> {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}</a></li>
						{% endif %}
					</ul>
				</li>
			</ul>
		</div>
		
		<!-- Blog share -->
		<div class="rte" itemprop="articleBody"> {{ article.content }} </div>
		
		{% if section.settings.show_share_buttons %}
		{% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
		{% endif %} 
		
		<!-- Blog navigation --> 
		{% if blog.next_article or blog.previous_article %}
		<div class="blog-nav">
			<div class="row">
				<div class="col-xs-6 text-left"> {% if blog.previous_article %} <i class="fa fa-long-arrow-left" aria-hidden="true"></i> {{ 'Previous' | link_to: blog.previous_article }}{% endif %} </div>
				<div class="col-xs-6 text-right"> {% if blog.next_article %} {{ 'Next' | link_to: blog.next_article }} <i class="fa fa-long-arrow-right" aria-hidden="true"></i>{% endif %} </div>
			</div>
		</div>
		{% endif %} 
		
		<!-- Article comments --> 
		{%- assign number_of_comments = article.comments_count -%}
		
		{% if comment and comment.created_at %}
		{%- assign number_of_comments = article.comments_count | plus: 1 -%}
		{% endif %} 
		{% if blog.comments_enabled? %}
		{% if number_of_comments > 0 %}
		<h2 class="sub-title">{{ 'blogs.comments.comments_with_count' | t: count: number_of_comments }}</h2>
		{% paginate article.comments by 5 %}
		
		{% comment %}
		#comments is required, it is used as an anchor link by Shopify.
		{% endcomment %}
		<div id="comments"> {% if comment and comment.created_at %}
			<p class="note form-success"> {% if blog.moderated? %}
				{{ 'blogs.comments.success_moderated' | t }}
				{% else %}
				{{ 'blogs.comments.success' | t }}
				{% endif %} </p>
			{% endif %}
			<ul class="comments">
				{% comment %}
				If a comment was just submitted with no blank field, show it.
				{% endcomment %}
				{% if comment and comment.created_at %}
				<li id="{{ comment.id }}" class="comment"> {% include 'comment' %} </li>
				{% endif %}
				
				{% for comment in article.comments %}
				<li id="{{ comment.id }}" class="comment"> {% include 'comment' %} </li>
				{% endfor %}
			</ul>
			{% if paginate.pages > 1 %}
			{% include 'pagination' %}
			{% endif %} </div>
		{% endpaginate %}
		
		
		{% endif %}
		<div class="comment-form form-vertical"> {% form 'new_comment', article %}
			<h2 class="h3">{{ 'blogs.comments.title' | t }}</h2>
			{{ form.errors | default_errors }}
			<div class="grid">
				<div class="grid__item medium-up--one-half">
					<label for="CommentAuthor">{{ 'blogs.comments.name' | t }}</label>
					<input type="text" name="comment[author]" id="CommentAuthor" class="input-full{% if form.errors contains 'author' %} input--error{% endif %}" value="{{ form.author }}">
				</div>
				<div class="grid__item medium-up--one-half">
					<label for="CommentEmail">{{ 'blogs.comments.email' | t }}</label>
					<input type="email" name="comment[email]" id="CommentEmail" class="input-full{% if form.errors contains 'email' %} input--error{% endif %}" value="{{ form.email }}" autocorrect="off" autocapitalize="off">
				</div>
				<div class="grid__item">
					<label for="CommentBody">{{ 'blogs.comments.message' | t }}</label>
					<textarea name="comment[body]" id="CommentBody" class="input-full{% if form.errors contains 'body' %} input--error{% endif %}">{{ form.body }}</textarea>
				</div>
			</div>
			{% if blog.moderated? %}
			<p class="fine-print">{{ 'blogs.comments.moderated' | t }}</p>
			{% endif %}
			<input type="submit" class="btn" value="{{ 'blogs.comments.post' | t }}">
			{% endform %} </div>
		{% endif %} 
		
		<!-- article end --> 
		
	</div>
	
	<!-- sidebar --> 
	{% unless section.settings.sidebar_position == 'nosidebar' %}
	<div class="grid__item medium-up--one-quarter large-up--one-fifth large--one-quarter blog-right sidebar">{% include 'blog-sidebar' %}</div>
	{% endunless %}
{% schema %}
  {
    "name": "Posts",
    "settings": [
 	  {
        "type": "select",
        "id": "sidebar_position",
        "label": "Sidebar Position",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          },
		  {
            "value": "nosidebar",
            "label": "No Sidebar"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show author",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      },
     {
        "type": "checkbox",
        "id": "show_category",
        "label": "Show Category",
        "default": true
      },
     {
        "type": "text",
        "id": "category_box_title",
        "label": "Category Title",
        "default": "Category"
      },
      {
        "type": "checkbox",
        "id": "show_recent_posts",
        "label": "Show Recent Posts",
        "default": true
      },
     {
        "type": "text",
        "id": "recent_posts_title",
        "label": "Recent Posts Title",
        "default": "Recent Posts"
      },
     {
        "type": "checkbox",
        "id": "show_banner_ad",
        "label": "Show Banner",
        "default": true
      },
	 {
        "type": "image_picker",
        "id": "sidebar_banner",
        "label": "Show Banner"       
      },
     {
        "type": "text",
        "id": "banner_link",
        "label": "Banner Url"       
      },
	  {
        "type": "checkbox",
        "id": "show_products",
        "label": "Show Collection",
        "default": true
      },
      {
        "type": "text",
        "id": "collection_title",
        "label": "Collection Title",
        "default": "Trending Now"
      },
      {
        "type": "collection",
        "id": "sidebar_collection",
        "label": "Select Collection"        
      },
 	 {
        "type": "text",
        "id": "number_of_prodcut",
        "label": "Number of Product to Show",
        "default": "4"
      }
    ]
  }
{% endschema %} 