<!-- breadcrumb -->
{% include 'breadcrumb' %}

<div class="page-width" data-section-id="{{ section.id }}" data-section-type="cart-template"> {% if cart.item_count > 0 %}	
  <h1 class="page-header">{{ 'cart.general.title' | t }}</h1>
	<form action="/cart" method="post" novalidate class="cart">
		<table>
			<thead class="cart__row cart__header">
			    <th colspan="2">{{ 'cart.label.product' | t }}</th>
				<th>{{ 'cart.label.price' | t }}</th>
				<th class="text-center">{{ 'cart.label.quantity' | t }}</th>
				<th class="text-right">{{ 'cart.label.total' | t }}</th>
			</thead>
			<tbody>
			
			{% for item in cart.items %}
			<tr class="cart__row border-bottom line{{ forloop.index }} cart-flex{% if forloop.first %} border-top{% endif %}">
				<td class="cart__image-wrapper cart-flex-item">
                	<a href="{{ item.url | within: collections.all }}"> <img class="cart__image" src="{{ item | img_url: '100x' }}" alt="{{ item.title | escape }}"> </a>
              	</td>
				<td class="cart__meta small--text-left cart-flex-item">
                  <div class="list-view-item__title">
                    	<a href="{{ item.url }}"> {{ item.product.title }} {% if item.quantity > 1 %} <span class="medium-up--hide"><span class="visually-hidden">{{ 'cart.label.quantity' | t }}</span>(x{{ item.quantity }})</span> {% endif %} </a>
                  </div>
					{% unless item.variant.title contains 'Default' %}
					<div class="cart__meta-text">
                      	{% for option in item.product.options %}
							{{ option }}: {{ item.variant.options[forloop.index0] }}<br />
						{% endfor %}
                  	</div>
					{% endunless %}
										
					{%- assign property_size = item.properties | size -%}
					{% if property_size > 0 %}
					<div class="cart__meta-text">
                      	{% for p in item.properties %}
						{% unless p.last == blank %}
							{{ p.first }}:
						
							{% comment %}
								Check if there was an uploaded file associated
							{% endcomment %}
							{% if p.last contains '/uploads/' %} <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a> {% else %}
								{{ p.last }}
							{% endif %}
						{% endunless %}
						{% endfor %}
                  	</div>
					{% endif %}
			   </td>
				<td class="cart__price-wrapper cart-flex-item small--text-right"> {{ item.price | money }}
					{% for discount in item.discounts %}
					<div class="cart-item__discount medium-up--hide">{{ discount.title }}</div>
					{% endfor %}
					<div class="cart__edit medium-up--hide">
						<button type="button" class="btn btn--secondary btn--small js-edit-toggle cart__edit--active" data-target="line{{ forloop.index }}"> <span class="cart__edit-text--edit">{{ 'cart.general.edit' | t }}</span> <span class="cart__edit-text--cancel">{{ 'cart.general.cancel' | t }}</span> </button>
					</div>
              	</td>
				<td class="cart__update-wrapper cart-flex-item text-center">
                  	<a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="btn btn-link cart__remove medium-up--hide"><i class="fa fa-times" aria-hidden="true"></i> {{ 'cart.general.remove' | t }}</a>
					<div class="cart__qty">
						<label for="updates_{{ item.key }}" class="cart__qty-label">{{ 'cart.label.quantity' | t }}</label>
						<div class="qtyField">
                          	<a class="qtyBtn minus" href="javascript:void(0);">{% include 'icon-minus' %}</a>
							<input class="cart__qty-input" type="text" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0" pattern="[0-9]*">
							<a class="qtyBtn plus" href="javascript:void(0);">{% include 'icon-plus' %}</a>
                      	</div>
					</div>
					<input type="submit" name="update" class="btn btn--small cart__update medium-up--hide" value="Update">
                  	<a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="btn btn-link cart__remove small--hide" title="Remove"><i class="fa fa-times" aria-hidden="true"></i> {{ 'cart.general.remove' | t }}</a>
              	</td>
				<td class="text-right small--hide">
                  	{% if item.original_line_price != item.line_price %}
						<div class="cart-item__original-price"><s>{{ item.original_line_price | money }}</s></div>
					{% endif %}
					<div>{{ item.line_price | money }}</div>
					{% for discount in item.discounts %}
						<div class="cart-item__discount">{{ discount.title }}</div>
					{% endfor %}
              	</td>
			</tr>
			{% endfor %}
			</tbody>
			
		</table>
		<footer class="cart__footer">
			<div class="grid">
             	<div class="grid__item medium-up--one-third text-right small--text-center cartSummery">
					<div class="solid-border">
                      	<span class="cart__subtotal-title">{{ 'cart.general.subtotal' | t }}</span> <span class="cart__subtotal">{{ cart.total_price | money }}</span>
                      	{% if cart.total_discounts > 0 %}
							<div class="cart__savings"> {{ 'cart.general.savings' | t }} <span class="cart__savings-amount">{{ cart.total_discounts | money }}</span> </div>
						{% endif %}
						<div class="cart__shipping">{{ 'cart.general.shipping_at_checkout' | t }}</div>
						<input type="submit" name="update" class="btn btn--secondary cart-update small--hide" value="{{ 'cart.general.update' | t }}">
						<input type="submit" name="checkout" class="btn btn--small-wide checkout" value="{{ 'cart.general.checkout' | t }}">
						{% if additional_checkout_buttons %}
							<div class="additional-checkout-buttons">{{ content_for_additional_checkout_buttons }}</div>
						{% endif %}
                  	</div>
				</div>
              	{% if section.settings.cart_notes_enable %}
				<div class="grid__item medium-up--one-third cart-note">
					<h5 class="small--text-center">{{ 'cart.general.note' | t }}</h5>
					<textarea name="note" id="CartSpecialInstructions" class="cart-note__input">{{ cart.note }}</textarea>
				</div>
              	{% endif %}
              	{% if section.settings.shipping_calculator %}
				<div class="grid__item medium-up--one-third">{% include 'shipping-calculator' %}</div>
              	{% endif %}
				
			</div>
		</footer>
		<script>
        $(".qtyBtn").on("click", function() {
          var oldValue = $(this).parents(".qtyField").children(".cart__qty-input").val(),
              newVal = 1;

          if ($(this).is(".plus")) {
            newVal = parseInt(oldValue) + 1;
          } else if (oldValue > 1) {
            newVal = parseInt(oldValue) - 1;
          }

          $(this).parents(".qtyField").children(".cart__qty-input").val(newVal);

        });
      </script>
	</form>
	{% else %}
	<div class="empty-page-content text-center">
		<h4>{{ 'cart.general.empty' | t }}</h4>
		<a href="/" class="btn btn--has-icon-after">{{ 'general.404.link' | t }} <i class="fa fa-angle-right" aria-hidden="true"></i></a> </div>
	{% endif %} 
    </div>

<script>
  theme.strings = {
      shippingCalcSubmitButton: {{ section.settings.shipping_calculator_submit_button_label | default: 'Calculate shipping' | json }},
      shippingCalcSubmitButtonDisabled: {{ section.settings.shipping_calculator_submit_button_label_disabled | default: 'Calculating...' | json }},
      {% if customer %}shippingCalcCustomerIsLoggedIn: true,{% endif %}
  }
</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js"></script>
<script src="/services/javascripts/countries.js"></script>
<script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>

{% schema %}
  {
    "name": "Cart page",
    "settings": [
      {
        "type": "checkbox",
        "id": "cart_notes_enable",
        "label": "Enable cart notes",
        "default": true
      },
	  {
        "type": "header",
        "content": "Shipping Rates Calculator"
      },
	  {
        "type": "checkbox",
        "id": "shipping_calculator",
        "label": "Show the shipping calculator?",
        "default": true
      },
      {
        "type": "text",
        "id": "shipping_calculator_heading",
        "label": "Heading text",
        "default": "Get shipping estimates"
      },
      {
        "type": "text",
        "id": "shipping_calculator_default_country",
        "label": "Default country selection",
        "default": "United States"
      },
      {
        "type": "paragraph",
        "content": "If your customer is logged-in, the country in his default shipping address will be selected. If you are not sure about the  spelling to use here, refer to the first checkout page."
      },
      {
        "type": "text",
        "id": "shipping_calculator_submit_button_label",
        "label": "Submit button label",
        "default": "Calculate shipping"
      },
      {
        "type": "text",
        "id": "shipping_calculator_submit_button_label_disabled",
        "label": "Submit button label when calculating",
        "default": "Calculating..."
      }
    ]
  }
{% endschema %} 