{% if template contains 'list' %}
  {%- assign limit = 16 -%}
{% else %}
  {%- assign limit = section.settings.rows -%}
{% endif %}

{% paginate collection.products by limit %}

<div data-section-id="{{ section.id }}" id="{{ section.id }}" data-section-type="collection-template">
  	<div class="page-width" id="Collection">
		<div class="grid">
          	{%- assign sidebarPosition = '' -%}
          	{% case section.settings.sidebar_position %}
              	{% when 'left' %}
                  {%- assign sidebar_position = 'left' -%}
          		  {%- assign content_position = 'right' -%}
				{% when 'right' %}
                  {%- assign sidebar_position = 'right' -%}
          		  {%- assign content_position = 'left' -%}
				{% when 'popup' %}
                  {%- assign sidebar_position = 'popup' -%}
			{% endcase %}

			<!-- Right sidebar -->
			<div class="grid__item{% unless sidebar_position == 'popup' or section.settings.collection_sidebar == false %} large-up--three-quarters main-col{% endunless %} {{content_position}}">
              	{% include 'collection-slideshow' %}
              	<header class="collection-header grid">
               		<div class="grid__item{% if section.settings.show_collection_image and collection.image %} medium-up--two-thirds{% endif %}">
                        <h1 class="collection-title" itemprop="name">{{ collection.title }}</h1>
                        {% if collection.description != blank %}
                            <div class="rte collection-description">{{ collection.description }}</div>
                        {% endif %}
               		</div>
               		{% if section.settings.show_collection_image and collection.image %}
                        <div class="grid__item small--hide medium-up--one-third text-center">
                          	{%- assign climg_url = collection.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                            <img class="lazyload"
                               src="{{ collection.image | img_url: '320x' }}"
                               data-src="{{ climg_url }}"
                               data-widths="[180, 320, 540, 720]"
                               data-aspectratio="{{ collection.image.aspect_ratio }}"
                               data-sizes="auto" alt="{{ collection.image.alt | escape }}">
                  		</div>
                    {% endif %}
                </header>
              
              	<div class="productList">
					<!-- Toolbar -->
					<div class="toolbar">{% include 'collection-filter' %}</div>

                    {% case section.settings.grid %}
                    {% when '3' %}
                      {%- assign grid_item_ds = 'large-up--one-third' -%}
                      {%- assign image_size = '450x' -%}
                    {% when '4' %}
                      {%- assign grid_item_ds = 'large-up--one-quarter' -%}
                      {%- assign image_size = '400x' -%}
                    {% when '5' %}
                      {%- assign grid_item_ds = 'large--one-quarter widescreen--one-fifth' -%}
                      {%- assign image_size = '350x' -%}
                    {% when '6' %}
                      {%- assign grid_item_ds = 'large--one-fifth widescreen--one-sixth' -%}
                      {%- assign image_size = '350x' -%}
                  	{% when '7' %}
                      {%- assign grid_item_ds = 'large--one-fifth widescreen--one-seventh' -%}
                      {%- assign image_size = '320x' -%}
                    {% endcase %}
                  	
                  	{% case section.settings.tablet-grid %}
                  	{% when '2' %}
                      {%- assign grid_item_tb = 'medium--one-half' -%}
                    {% when '3' %}
                      {%- assign grid_item_tb = 'medium--one-third' -%}
                    {% when '4' %}
                      {%- assign grid_item_tb = 'medium--one-quarter' -%}
                    {% endcase %}
                  	
                  	{% case section.settings.mobile-grid %}
                  	{% when '1' %}
                      {%- assign grid_item_mb = 'small--one-whole' -%}
                    {% when '2' %}
                      {%- assign grid_item_mb = 'small--one-half' -%}
                    {% when '3' %}
                      {%- assign grid_item_mb = 'small--one-third' -%}
                    {% endcase %}

					{% unless template contains 'list' %}
					<div class="grid grid--uniform grid-products{% if collection.products_count > 0 %} grid--view-items{% endif %}">
                  		{% for product in collection.products %}               					                  
							<div class="grid__item {{ grid_item_mb }} {{ grid_item_tb }} {{grid_item_ds}}">
                      		{% include 'product-card-grid', grid_image_width: image_size %} 
                    		</div>
						{% else %}
							{% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
							<div class="grid__item {{ grid_item_width }}">
								<div class="grid grid--uniform">
                                  	{% for i in (1..limit) %}
									<div class="grid__item {{ grid_item_mb }} {{ grid_item_tb }} {{grid_item_ds}}">
										<div class="grid-view-item">
                                  			<a href="#" class="grid-view-item__link">
												<div class="grid-view-item__image">
                                                  	{% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
													{{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                                              	</div>
												<div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
												<div class="grid-view-item__meta"> <span class="product-price__price">$19.99</span></div>
								  			</a>
                              			</div>
									</div>
									{% endfor %}
                     			</div>
							</div>
							{% else %}
								{%- assign is_empty_collection = true -%}
							{% endif %}
						{% endfor %} 
					</div>
					{% endunless %}
				
					{% if template contains 'list' %}
                  	<div class="list-view-items">
                      	{% for product in collection.products %}
							{% assign box_animation_time = forloop.index | minus:1 %}
                      		{% assign delay_time = 100 | times : box_animation_time %}
                      		<div class="list-view-item wow fadeInUp" data-wow-delay="{{delay_time}}ms">
								{% include 'product-card-list', product: product %}
                      		</div>
                      	{% else %}

                      {% comment %}
                      Add default products to help with onboarding for collections/all only.

                      The onboarding styles and products are only loaded if the
                      store has no products.
                      {% endcomment %}
                      {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0%}
                      {% for i in (1..4) %} <a href="#" class="list-view-item">
                      <div class="list-view-item__image-column">
                          <div class="list-view-item__image-wrapper">
                              <div class="list-view-item__image"> {%- assign placeholder = 'placeholder-product-' | append: i -%}
                                  {% include placeholder %} </div>
                          </div>
                      </div>
                      <div class="list-view-item__title-column">
                          <div class="list-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                      </div>
                      <div class="list-view-item__price-column"> <span class="product-price__price">$19.99</span> </div>
                      </a> {% endfor %}
                      {% else %}
                      {%- assign is_empty_collection = true -%}
                      {% endif %}
                      {% endfor %} 
                </div>
				{% endif %}
				
				{% if is_empty_collection %}
				<div class="grid__item small--text-center">
					<p class="text-center">{{ 'collections.general.no_matches' | t }}</p>
				</div>
				{% endif %}
              </div>
                
				{% if paginate.pages > 1 %}
				<hr class="clear" />
				{% include 'pagination' %}
				{% endif %}
          	</div>

             <!-- Left sidebar -->
            {% if section.settings.collection_sidebar %}
            <div class="grid__item large-up--one-quarter sidebar filterbar {{sidebar_position}}">
              {% include 'collection-sidebar' %}
            </div>
            {% endif %}
		</div>
	</div>
  
</div>
{% endpaginate %}
{% if section.settings.collection_sidebar %}
	{% include 'filter-js' %}
{% endif %}
{% schema %}
  {
    "name": "Collection pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_collection_image",
        "label": "Show collection image",
        "default": true
      }, 
      {
        "type": "checkbox",
        "id": "sort_enable",
        "label": "Enable sorting",
        "default": true
      },
      {
        "type": "paragraph",
        "content": "Products per row (grid only)"
      },
	  {
        "type": "select",
        "id": "grid",
        "label": "Desktop",
        "default": "4",
        "options": [        
          { "value": "3", "label": "3" },
          { "value": "4", "label": "4" },
          { "value": "5", "label": "5" },
          { "value": "6", "label": "6" },
		  { "value": "7", "label": "7" }
        ]
      },
	  {
        "type": "select",
        "id": "tablet-grid",
        "label": "Tablet",
        "default": "3",
        "options": [        
          { "value": "2", "label": "2" },
          { "value": "3", "label": "3" },
          { "value": "4", "label": "4" }
        ]
      },
	  {
        "type": "select",
        "id": "mobile-grid",
        "label": "Mobile",
        "default": "2",
        "options": [        
          { "value": "1", "label": "1" },
		  { "value": "2", "label": "2" },
          { "value": "3", "label": "3" }
        ]
      },
      {
        "type": "text",
        "id": "rows",
        "label": "Products per page (grid only)",
        "default": "24"
      },
      {
        "type": "header",
        "content": "Sidebar & Filters"
      },
      {
        "type": "checkbox",
        "id": "collection_sidebar",
        "label": "Enable Sidebar",
        "default": true
      },
      {
        "type": "select",
        "id": "sidebar_position",
        "label": "Sidebar Position",
        "default": "left",
		"info":"Only filter blocks show while select Popup Box option.",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          },
          {
            "value": "popup",
            "label": "Popup Box"
          }
        ]
      },
      {
        "type": "paragraph",
        "content": "Click on 'Add content' link below to add sidebar section."
      }
    ],
	"blocks": [
      {
        "type": "categories",
        "name": "Categories",
        "limit": 1,
        "settings": [
         	{ 
              "type":"text",
              "id":"title",
              "label":"Categories",
              "default":"Categories"
          	},
            {
              "type": "link_list",
              "id": "side_categories",
              "label": "Select Categories",
              "default": "main-menu"
            }
        ]
      },
	  {
        "type": "filter_by",
        "name": "Filter By",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Filter By Title",
				"default": "Filter By Title",
                "info": "i.e 'Filter by Size, Filter by Brands'"
            },
            {
                "type": "textarea",
                "id": "filter_tags",
                "label": "Add Filter tags",
                "info": "Separate by a comma, i.e \"Tag1, Tag2, Tag3\"."
            }          
      	]
     },
     {
        "type": "by_color",
        "name": "Filter by Colors",
        "limit": 1,
        "settings": [
         	{ 
              "type":"text",
              "id":"title",
              "label":"Filter by section title",
              "default":"Filter by Color"
          	},
            {
             "type": "textarea",
             "id": "filter_tags",
             "label": "Add Filter tags",
             "info": "Separate by a comma, i.e \"Black, Red, Blue\"."
           },
           {
             "type": "paragraph",
			 "content": "Only html color name will work to show color while select Swatch color options. [Find HTML color name here](https:/\/\www.w3schools.com/\colors/\colors_names.asp)"
           },
           {
             "type": "paragraph",
			 "content": "You can enable images for color swatches from 'Theme Settings > General Options > Image for colors swatches'. Image name must same as color name and all in lowercase. Use '-' instead of space. Examples (Black = black.png, Navy Blue = navy-blue.png). Upload images on 'settings > files'"
           }
			
        ]
     },
     {
        "type": "products",
        "name": "Products",
		"limit": 1,
        "settings": [
         	{ 
              "type":"text",
              "id":"title",
              "label":"Title Text",
              "default":"Popular Products"
          	},
            {
              "type": "collection",
              "id": "sidebar_products",
              "label": "Select Collection"
            },
            {
              "type": "text",
              "id": "num_of_products",
              "label": "Number of products to show",
              "default": "3"
            },
			{
              "type": "checkbox",
              "id": "side_all_products",
              "label": "View all products button",
              "default": false
            },
            {
              "type": "select",
              "id": "side_prod_opt",
              "label": "Display Type",
              "default": "slider",
              "options": [
                {
                  "value": "slider",
                  "label": "Slider"
                },
                {
                  "value": "list",
                  "label": "List"
                }
              ]
            }
        ]
      },
	  {
        "type": "image_bnr",
        "name": "Image Banner",
        "settings": [
            {
              "type": "image_picker",
              "id": "side_bnr_img",
              "label": "Banner Image"
            },
            {
              "type": "url",
              "id": "side_bnr_link",
              "label": "Banner"
            }
      	]
      },
	  {
        "type": "static_text",
        "name": "Static Text",
        "settings": [
            { 
              "type":"text",
              "id":"title",
              "label":"Title Text",
              "default":"Static Block Title"
          	},
            {
              "type": "richtext",
              "id": "text",
              "label": "Text",
              "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
            }
      	]
      },
	  {
        "type": "slideshow",
        "name": "Slideshow at content area",
        "settings": [
            {
              "type": "paragraph",
              "content": "Upload all the images of same size"
            },
			{
              "type": "checkbox",
              "id": "display_mobile",
              "label": "Display Slideshow on Mobile",
              "default": true
            },
            {
              "type": "image_picker",
              "id": "cat-bnr-1",
              "label": "Banner 1"
            },
            {
              "type": "url",
              "id": "cat-bnr--url-1",
              "label": "Banner 1 Url"
            },
            {
              "type": "image_picker",
              "id": "cat-bnr-2",
              "label": "Banner 2"
            },
            {
              "type": "url",
              "id": "cat-bnr--url-2",
              "label": "Banner 2 Url"
            },
            {
              "type": "image_picker",
              "id": "cat-bnr-3",
              "label": "Banner 3"
            },
            {
              "type": "url",
              "id": "cat-bnr--url-3",
              "label": "Banner 3 Url"
            },
            {
              "type": "image_picker",
              "id": "cat-bnr-4",
              "label": "Banner 4"
            },
            {
              "type": "url",
              "id": "cat-bnr--url-4",
              "label": "Banner 4 Url"
            },
            {
              "type": "image_picker",
              "id": "cat-bnr-5",
              "label": "Banner 5"
            },
            {
              "type": "url",
              "id": "cat-bnr--url-5",
              "label": "Banner 5 Url"
            }
      	]
      }
	]
  }
{% endschema %}
