{{ 'masonry.js' | asset_url | script_tag }}

<!-- lookbook 1 -->
{% unless template contains 'style2' %} 
{% if section.settings.layout_style == 'lookbook1' %}
<div class="lookbook-1">
	<div class="lookbook grid-masonary">
    	<div class="grid-sizer"></div>
		<div class="gutter-sizer"></div>
        {% for block in section.blocks limit: section.blocks.size%}
          <div class="grid-lookbook">
            {% if block.settings.image!= blank %} 
              <img src="{{ block.settings.image | img_url:'1000x' }}" alt="" />
            <div class="caption">
              <h2>{{ block.settings.title }}</h2>
            {% if block.settings.url != blank %}
              <a class="btn" href="{{ block.settings.url}}" >Shop Collection <i class="fa fa-caret-right" aria-hidden="true"></i> </a>
            {% endif %}  
            </div>
            <a class="overlay" {% if block.settings.url != blank %} href="{{ block.settings.url}}" {% endif %}></a> {% endif %} </div>
      	{% endfor %}
  	</div>
</div>
{% endif %}
{% endunless %}

<!-- lookbook 2 -->
{% if section.settings.layout_style == 'lookbook2' or template contains 'style2' %}
  <div class="page-width">
	<div class="grid-masonary lookbook2">
		<div class="grid-sizer"></div>
		<div class="gutter-sizer"></div>
		{% for block in section.blocks limit: section.blocks.size %}
      		{% if block.settings.image!= blank %}
            <div class="grid-lookbook">

                {% if block.settings.url != blank %}<a href="{{ block.settings.url}}" >{% endif %}  
                <img src="{{ block.settings.image | img_url:'600x' }}" alt="" />
                {% if block.settings.url != blank %}</a>{% endif %}  

                 {% if block.settings.title != blank %}
                <h2>{{ block.settings.title }}</h2>
                {% endif %}

                 {% if block.settings.url != blank %}
                <span class="btn">Shop Collection</span>
                {% endif %}  
       		</div>
      		{% endif %}
		{% endfor %}
    </div>
  </div>
{% endif %}
<script>
  // LOOKBOOK 
  $(window).load(function(){
	$('.grid-masonary').masonry({
    	columnWidth: '.grid-sizer',
    	gutter: '.gutter-sizer',
    	itemSelector: '.grid-lookbook',
    	percentPosition: true
    });
  });
</script>

{% schema %}
  {
    "name": "Lookbook Page",
	"max_blocks":50,
    "settings": [
		{
			"type":"paragraph",
			"content":"Add more content on this page from pages => Lookbook page"
		},
		{	
			"type":"select",
			"id":"layout_style",
			"label":"Layout Style",
			"default":"lookbook1",
			"options": [         
              {
                "value": "lookbook1",
                "label": "Lookbook 1"
              },
              {
                "value": "lookbook2",
                "label": "Lookbook 2"
              }              
            ]
		
		}
	 ],
	"blocks":[
		{
			"name":"Lookbook block",
			"type":"lookbook1",
		 	"settings":[
			{
			"type":"image_picker",
			"id":"image",
		     "label":"Add Image",
			 "info":"Recommanded size minimum width 1000px"
		    },
			{
			"type":"url",
			"id":"url",
		     "label":"Link"
		    },
			{
			"type":"text",
			"id":"title",
		     "label":"Add Title"				
		    }		
		 ]
	   }
     ]	
  }
{% endschema %} 