{% if section.settings.show_related_products == true %}

<div class="related-product wow fadeIn"  id="{{ section.id }}" data-mb="{{ section.settings.mobile-grid }}" data-tb="{{ section.settings.tablet-grid }}" data-ds="{{ section.settings.grid }}" data-section-id="{{ section.id }}" data-section-type="carousel-section">
  <div class="page-width">
    {% assign number_of_related_products_per_row = section.settings.related_grid_num %}
	{% assign number_of_rows = section.settings.related_total_product_to_show | plus:1 %}
	
	{% assign same_vendor = false %}
	{% assign same_type = false %}
	
	{% assign exclusions = 'frontpage,all' | split: ',' %}
	
	{% if product.metafields.c_f['Related Products'] %}
	{% assign collection = collections[product.metafields.c_f['Related Products']] %}
	{% endif %}
	
	{% assign found_a_collection = false %}
     
  	  {% if collection and collection.all_products_count > 1 %}
        {% unless exclusions contains collection.handle %}
        {% assign found_a_collection = true %}
        {% endunless %}
      {% endif %}
      {% unless found_a_collection %}
        {% for c in product.collections limit: number_of_rows %}
          {% unless exclusions contains c.handle or c.all_products_count < 2 %}
          {% assign found_a_collection = true %}
          {% assign collection = c %}
          {% break %}
          {% endunless %}
        {% endfor %}
      {% endunless %}
	
	
	{% if found_a_collection %} 
	
      {% assign current_product = product %}

      {% case section.settings.grid %}
            {% when '3' %}
              {%- assign grid_item_ds = 'large-up--one-third' -%}
              {%- assign image_size = '450x' -%}
            {% when '4' %}
              {%- assign grid_item_ds = 'large-up--one-quarter' -%}
              {%- assign image_size = '400x' -%}
            {% when '5' %}
              {%- assign grid_item_ds = 'large--one-quarter widescreen--one-fifth' -%}
              {%- assign image_size = '350x' -%}
            {% when '6' %}
              {%- assign grid_item_ds = 'large--one-fifth widescreen--one-sixth' -%}
              {%- assign image_size = '350x' -%}
            {% when '7' %}
              {%- assign grid_item_ds = 'large--one-fifth widescreen--one-seventh' -%}
              {%- assign image_size = '320x' -%}
            {% endcase %}

            {% case section.settings.tablet-grid %}
            {% when '2' %}
              {%- assign grid_item_tb = 'medium--one-half' -%}
            {% when '3' %}
              {%- assign grid_item_tb = 'medium--one-third' -%}
            {% when '4' %}
              {%- assign grid_item_tb = 'medium--one-quarter' -%}
            {% endcase %}

            {% case section.settings.mobile-grid %}
            {% when '1' %}
              {%- assign grid_item_mb = 'small--one-whole' -%}
            {% when '2' %}
              {%- assign grid_item_mb = 'small--one-half' -%}
            {% when '3' %}
              {%- assign grid_item_mb = 'small--one-third' -%}
            {% endcase %}

      {% capture related_items %}
        <div id="productSlider-{{ section.id }}" class="{% if collection.products_count > 0 %} grid--view-items{% endif %} productSlider">
          {% for product in collection.products limit : number_of_rows %}
            {% unless product.handle == current_product.handle %}
                {% unless same_vendor and current_product.vendor != product.vendor %}
                    {% unless same_type and current_product.type != product.type %}
                    <div class="grid__item {{grid_item_mb}} {{grid_item_tb}} {{grid_item_ds}}">{% include 'product-card-grid', grid_image_width: image_size %}</div>
                    {% endunless %}
                {% endunless %}
            {% endunless %}
          {% endfor %}
        </div>
      {% endcapture %}

      {% assign related_items = related_items | trim %}

      {% unless related_items == blank %}
        {% unless section.settings.related_title == blank %}
          <header class="section-header">
              <h2 class="section-header__title text-center h3"> <span>{{ section.settings.related_title }}</span> </h2>
              {% if section.settings.related_sub_title != blank %}
              <p class="sub-heading">{{ section.settings.related_sub_title}}</p>
              {% endif %} 
          </header>
        {% endunless %}  
    	<div id="products-{{ section.id }}">{{ related_items }}</div>
      {% endunless %}  
	{% endif %} 
  </div>
</div>
{% endif %}

{% schema %}
  {
    "name": "Related Products",
    "settings": [
		{
        "type": "checkbox",
        "id": "show_related_products",
        "label": "Show related products",
        "default": true
      },
	 {
        "type": "checkbox",
        "id": "related_products_autoplay",
        "label": "Carousel Autoplay",
        "default": true
      },
 	 {
        "id": "related_title",
        "type": "text",
        "label": "Section Title",
        "default": "Related Products"
      },
 	  {
        "id": "related_sub_title",
        "type": "text",
        "label": "Section Sub title",
        "default": "You can stop autoplay, increase/decrease aniamtion speed and number of grid to show and products from store admin."
      },
      {
        "type": "paragraph",
        "content": "Products per row (grid only)"
      },
	  {
        "type": "select",
        "id": "grid",
        "label": "Desktop",
        "default": "4",
        "options": [        
          { "value": "3", "label": "3" },
          { "value": "4", "label": "4" },
          { "value": "5", "label": "5" },
          { "value": "6", "label": "6" },
		  { "value": "7", "label": "7" }
        ]
      },
	  {
        "type": "select",
        "id": "tablet-grid",
        "label": "Tablet",
        "default": "3",
        "options": [        
          { "value": "2", "label": "2" },
          { "value": "3", "label": "3" },
          { "value": "4", "label": "4" }
        ]
      },
	  {
        "type": "select",
        "id": "mobile-grid",
        "label": "Mobile",
        "default": "2",
        "options": [        
          { "value": "1", "label": "1" },
		  { "value": "2", "label": "2" },
          { "value": "3", "label": "3" }
        ]
      },
      {
        "type": "text",
        "id": "related_total_product_to_show",
        "label": "Number of Product to Show",
        "default": "8"        
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
